@import "../sass/variables";

.about {
  width: 320px;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-decor-light-grey;
  min-height: 840px;
  list-style: none;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-y: 555px;
  background-position-x: 50%;

  &::before {
    content: "";
    border-top: 59px white solid;
    border-right: 320px $bg-decor-light-grey solid;
  }
}

.about__text--first {
  padding-top: 25px;
}

.about__text {
  h3 {
    width: 280px;
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  p {
    width: 280px;
    display: inline-block;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.about__text--third {
  display: block;
}

@media (min-width: $tablet-width) {
  .about {
    width: 620px;
    min-height: 501px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: none;
    position: relative;

    li {
      display: inline-block;
      margin-left: auto;
      width: 340px;
      font-size: 14px;
      line-height: 24px;

      h3 {
        text-align: left;
        margin: 0;
        margin-bottom: 10px;
      }

      p {
        text-align: left;
        margin: 0;
        margin-bottom: 20px;
      }
    }

    &::before {
      content: "";
      border-top: 59px white solid;
      border-right: 660px $bg-decor-light-grey solid;
    }

    &::after {
      content: url("../img/iphone-screen-3-tablet@1x.png");
      display: flex;
      position: absolute;
      left: 20px;
      top: 20px;
    }
  }
}


